extends ../utils/base.pug

block content
  form(action=link method="POST")
    input(type="hidden", name="_csrf" value=csrfToken)
    label(for="username") Usuario
    input(type="text" name="username")
    label(for="password") Contraseña
    input(type="password" name="password")
    button(type="submit") #{text}