<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Agregar documento.
  body
    form(action="/add", method="POST")
      p
        input(type="text", name="author")
      p
        textarea(name="content", cols="30", rows="10")
      button(type="submit") Enviar