extends utils/base.pug
block content
  if (verse === undefined)
    h1 Entra m치s tarde o agrega tu el primer versiculo.
    a(href="/add") Agrega el primer versiculo.
  else
    h2 Reflexi칩n.
    hr
    for paragraph in verse.parsedMessage
      p #{paragraph}
    hr
    p Esta pagina esta en construcci칩n.
    p Id de la reflexion: #{verse._id}
    p Id del autor: #{verse.author}
    a(href="/add") Agrega tu propia reflexi칩n.