<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Reflexión diaria.
    script(src="/js/app.js")
  body
    if (verse === undefined)
      h1 Entra más tarde.
    else
      p Esta pagina esta en construcción.
      p Id de la reflexion: #{verse._id}
      p Id del autor: #{verse.author}
      p #{verse.content}