extends utils/base.pug
block css
  link(rel="stylesheet", href="css/index.css")
block content
  if (verse === undefined)
    h1 Entra más tarde o agrega tu el primer versiculo.
    a(href="/add") Agrega el primer versiculo.
  else
    div.info
      h2 Reflexión.
      p
        span.not-mobile escrita por
        |  #{verse.author}

    div.reflection
      for paragraph in verse.parsedMessage
        p #{paragraph}
      button.in-mobile(href="/add") Contribuir
    input(type="hidden", name="reflectionId", value=verse._id)