div.header{
  border-bottom: 1px solid gray;
  background: rgba(0, 0, 0, 0.1);
}

div.header .seen {
  text-align: center;
  margin: 12px;
}

div.info {
  display: flex;
  align-items: baseline;
  width: 100%;
  padding: 25px;
  justify-content: space-between;
}

div.info h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

div.info p {
  font-size: 1.25rem;
  font-weight: 100;
}

div.reflection {
  width: 80%;
  max-width: 800px;
  margin: auto;
}

div.reflection p {
  line-height: 3rem;
  font-size: 1.5rem;
  margin: 24px 0;
}

div.reflection p:last-of-type {
  margin-bottom: 50px 0;
}

.contribute {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin-bottom: 1vh;
  margin-top: auto;
  text-decoration: none;
  background: var(--darkbackground);
  color: var(--maintext);
  font-size: 1.5rem;
  transition: all 0.3s;
  border: 1px solid var(--darkbackground);
}

.contribute:hover {
  color: var(--darkbackground);
  background: var(--maintext);
}

.vote {
  width: 80%;
  max-width: 800px;
  margin: 100px auto;
}

.vote p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.votes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.votes img {
  width: 40%;
  max-width: 300px;
  cursor: pointer;
  background: transparent;
  padding: 12px;
  border-radius: 15px;
  transition: all 0.3s;
}

#voteup {
  background: #2e2e2e;
}

#votedown {
  background: #2e2e2e;
}

#voteup:hover,
#voteup.active {
  background: #129946;
}

#votedown:hover,
#votedown.active {
  background: #810b0b;
}

@media(max-width:800px) {
  div.info {
    flex-direction: column;
  }
}