extends ../utils/base.pug
block css
  link(rel="stylesheet", href="css/base/edit.css")

block content
  form(action="/add", method="POST")
    .control
      label(for="author") Autor
      input(type="text", name="author")
    .control
      label(for="content") Reflexion
      textarea(name="content", cols="30", rows="10")
    button(type="submit") Agregar