extends ../utils/base.pug
block css
  link(rel="stylesheet", href="css/base/index.css")
block content
  if (verse === undefined)
    h1 Entra más tarde o agrega tu el primer versiculo.
    a(href="/add") Agrega el primer versiculo.
  else
    div.header
      div.info
        h2 Reflexión.
        p
          span.not-mobile escrita por
          |  #{verse.author}
      p.seen Esta página ha sido vista #{verse.seen} veces.

    div.reflection
      for paragraph in verse.parsedMessage
        p #{paragraph}
      a.contribute.in-mobile(href="/add") Contribuir
    input(type="hidden", name="reflectionId", value=verse._id)

    div.vote
      p Danos tu opinion.
      div.votes
        img#voteup(src="img/votes/dislike.png", alt="")
        img#votedown(src="img/votes/like.png", alt="")