extends ../utils/base.pug
block css
  link(rel="stylesheet", href="css/main/index.css")
block js
  script(src="js/main/index.js" defer)
block content
  if (verse === undefined)
    div.reflection
      h1 Entra más tarde o agrega tu el primer versiculo.
      a.contribute.in-mobile(href="/add", style="margin: 20px 0;") Agrega el primer versiculo.
  else
    div.header
      div.info
        h2 Reflexión.
        p
          span.not-mobile escrita por
          |  #{verse.author}
      p.seen Esta página ha sido vista #{verse.seen} veces.

    div.reflection
      for paragraph in verse.parsedMessage
        p #{paragraph}
      a.contribute.in-mobile(href="/add") Contribuir
      if (user.role !== undefined && (user.role === 'Admin' || user.role === 'Moderator'))
        a.contribute.in-mobile(href="/admin/index") Administrar
    input(type="hidden", name="reflectionId", value=verse._id)

    template#voteresults
      div.votenumbers
        p#positiveVotes(style="color: green;") Votos positivos.
        p#negativeVotes(style="color: red;") Votos negativos.

    div.vote
      p Danos tu opinion.
      div.votes
        img#voteup(src="img/votes/like.png", alt="")
        img#votedown(src="img/votes/dislike.png", alt="")